.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid burlywood;
}

.grid div {
    width: 20px;
    height: 20px
}

.pac-dot{
    background-color:green;
    border: 5px solid whitesmoke
    box-sizing: border-box;
}

.wall {
    background-color: orchid;
}

.power-pellet {
    background-color: green;
    border-radius: 10px;
} 

